autogenstudio
PyPDF2
autogen-core
autogen-agentchat
autogen-ext[openai]
autogen-ext[magentic-one,openai]
autogen-ext
azure-ai-projects
azure-monitor-opentelemetry
opentelemetry-instrumentation-openai-v2
streamlit
autogen-ext[web-surfer]